/* ====================== [ Start tabs before & after section ] ====================== */
.after-before {
  position: relative;
  color: #fff; }
  .after-before .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1; }
  .after-before .dotsbg {
    position: relative; }
    .after-before .dotsbg:after {
      content: '';
      background-image: url(../img/line-pattern1.png);
      background-repeat: repeat;
      position: absolute;
      bottom: -60px;
      left: 10%;
      right: 10%;
      height: 40%;
      z-index: -1; }

/* ====================== [ Start tabs before & after section ] ====================== */
/* ====================== [ 20 Start call-action ] ====================== */
.call-action {
  background-color: #020202;
  color: #fff; }
  .call-action.gray {
    background: #f8f8f8; }
    .call-action.gray .content h6 {
      color: #777;
      font-size: 14px;
      font-weight: 500; }
      .call-action.gray .content h6 span {
        color: #777; }
    .call-action.gray .content h2 {
      font-size: 5vw;
      font-weight: 700;
      margin-bottom: 20px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #333; }
      .call-action.gray .content h2 b span {
        color: #333;
        -webkit-text-stroke-width: 0; }
    .call-action.gray .tlink {
      border-bottom: 1px solid #333; }
  .call-action:before {
    background-image: url(../img/giphy.gif);
    background-repeat: repeat;
    opacity: .04; }
  .call-action.nogif {
    position: relative;
    padding: 80px 0;
    background: #0a0a0a;
    z-index: 2;
    overflow: hidden; }
    .call-action.nogif:before {
      display: none; }
    .call-action.nogif:after {
      content: '';
      height: 0;
      width: 100%;
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      -webkit-transition: height 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
      -o-transition: height 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
      transition: height 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
      background: #0c0c0c;
      z-index: -1; }
    .call-action.nogif:hover:after {
      height: 100%;
      top: 0;
      bottom: auto; }
  .call-action .content h6 {
    color: #b19777;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px; }
    .call-action .content h6 span {
      color: #b19777; }
  .call-action .content h2 {
    font-size: 6vw;
    font-weight: 800;
    margin-bottom: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent; }
    .call-action .content h2 span {
      color: transparent; }
    .call-action .content h2 .word {
      margin-right: 15px; }
    .call-action .content h2 b span {
      color: #fff;
      -webkit-text-stroke-width: 0; }
  .call-action .content p {
    font-size: 17px;
    font-weight: 300; }
  .call-action .tlink {
    margin-left: auto;
    border-bottom: 1px solid #eee; }
  .call-action.next {
    position: relative;
    z-index: 2;
    overflow: hidden; }
    .call-action.next:after {
      display: none; }
    .call-action.next:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background: #0a0a0a;
      opacity: 1;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
    .call-action.next .content h2 {
      font-size: 5vw;
      font-weight: 700; }
      .call-action.next .content h2 b {
        font-weight: 700; }
    .call-action.next .nxt-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
      background-size: cover;
      background-position: center;
      z-index: -1;
      -webkit-transition: all 1s linear;
      -o-transition: all 1s linear;
      transition: all 1s linear; }
    .call-action.next:hover:before {
      opacity: .9; }
    .call-action.next:hover .nxt-img {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 10s linear;
      -o-transition: all 10s linear;
      transition: all 10s linear; }

.video-wrapper {
  min-height: 500px; }
  .video-wrapper .vid {
    position: relative;
    z-index: 8; }
    .video-wrapper .vid .vid-butn:hover .icon {
      color: #fff; }
      .video-wrapper .vid .vid-butn:hover .icon:before {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }
    .video-wrapper .vid .vid-butn .icon {
      color: #212529;
      width: 100px;
      height: 100px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      line-height: 100px;
      text-align: center;
      font-size: 17px;
      position: relative;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .video-wrapper .vid .vid-butn .icon:after {
        content: '';
        position: absolute;
        top: 5px;
        bottom: 5px;
        right: 5px;
        left: 5px;
        border: 1px solid #eee;
        border-radius: 50%;
        z-index: -1; }
      .video-wrapper .vid .vid-butn .icon:before {
        content: '';
        position: absolute;
        top: 5px;
        bottom: 5px;
        right: 5px;
        left: 5px;
        background: #fff;
        border-radius: 50%;
        z-index: -1;
        -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
        -o-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
        transition: all 0.5s cubic-bezier(1, 0, 0, 1); }

/* ====================== [ End call-action ] ====================== */
