
/* ====================== [ Start brands ] ====================== */

.brands{

    .box-top{
        padding: 40px 30px;
        background: #fff;
        box-shadow: 0 0 45px rgba(10, 10, 10,0.06);
        border-radius: 20px;
        position: relative;
        margin-top: -50px;
        z-index: 3;

        .item{
            text-align: center;
            margin: 15px 0;
        }
    }
}

/* ====================== [ End brands ] ====================== */